.main-div{
      margin:100px;
      text-align: center;
      justify-content: center;
}
.child-div{
    background-color: lightblue;
        margin-left: 322px;
        margin-right: 322px;
}
.form{
        padding:15px 35px;
        border-radius: 3px;
}
.addItem{
  height:100px;
  border-color: white;
}
.button{
        margin-top: 30px;
        margin-bottom:30px;
        padding: 10px;
        border-color: grey;
        background-color:grey;
        color:white;
        border-radius: 12px;
}
.button:hover{
  background-color:blue;
  border-color: blue;
  
}
.button:hover span{
        text-align: center;
        display:none;
}
.button:hover::before{
  content: "Remove All";
  cursor: pointer;
  transition-delay:10s;
}
.icon{
  padding:15px;
  border-color:white;
  background-color:white;
  border-radius: 5px;
}